@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--grey-blue-98, #f7f8fa);
  width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
