.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 230px; */
  /* padding: 15px; */
  /* border-radius: 5px; */
  background: var(--white, #fff);

  /* Shadows/Gray Blue/3%/5b */
  /* box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03); */
}
.list {
  display: flex;
  align-items: center;
}
.list span {
  color: var(--grey-blue-60, #6b7a99);

  /* Bold 10 */
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 200% */
}

.file {
  display: flex;
  align-items: center;
}
.file span {
  color: var(--grey-blue-60, #6b7a99);

  /* Bold 10 */
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 200% */
}
.time {
  display: flex;
  align-items: center;
}
.time span {
  color: var(--grey-blue-60, #6b7a99);

  /* Bold 10 */
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 200% */
}
